/** @format */

:global(#app) {
  .flightsvg {
    height: 15px;
    width: 15px;
  }

  .row1 {
    .flightTo,
    .flightFrom {
      font-size: 20px;
      color: rgb(12, 12, 12);
    }
    .f {
      display: flex;
      align-items: baseline;
      .divider {
        height: min-content;
        border-bottom: 2px solid rgb(103, 103, 103);
        width: 100%;
        display: inline-flex;
      }
    }
    :hover .f {
      transition: 0.5s;
      transform: scale(1.05);
    }
    .time_flight {
      display: flex;
      justify-content: center;
    }
  }
}
