/** @format */

:global(#app) {
  .logo {
    font-size: 25px;
    font-weight: 700;
    color: #0770e3;
  }
  .groupBtn1 {
    .settingsBtn {
      .settings {
        height: 3em;
        font-size: 12px;
        border-radius: 8px;
      }
    }
    .login {
      font-weight: 600;
      color: rgb(0, 0, 0);
      border-radius: 8px;
    }
    .login1 {
      font-weight: 600;
      color: rgb(0, 0, 0);
      border-radius: 8px;
    }
  }
  .flightsBtn {
    background-color: #0770e3;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    &:hover {
      background-color: #022a55;
    }
  }
}
